<% layout('../layout') -%>

<% script('https://api-maps.yandex.ru/2.1/?lang=ru_RU&mode=release&coordorder=longlat') -%>

<% script(module + '/js/map/map.js') -%>
<% script(module + '/js/map/nav.js') -%>
<% script(module + '/js/map/layer.js') -%>
<% script(module + '/js/map/layer-handler.js') -%>
<% script(module + '/js/map/legend.js') -%>
<% script(module + '/js/map/region.js') -%>
<% script(module + '/js/map/event-handler.js') -%>
<% script(module + '/js/map/panels/nav-section.js') -%>
<% script(module + '/js/map/panels/panel.js') -%>
<% script(module + '/js/map/panels/section.js') -%>
<% script(module + '/js/map/panels/right-info.js') -%>
<% script(module + '/js/map/panels/float.js') -%>
<% script(module + '/js/map/viewers/viewer.js') -%>
<% script(module + '/js/map/viewers/region-report.js') -%>
<% script(module + '/js/map/filters/base-filter.js') -%>
<% script(module + '/js/map/filters/stroke-filter.js') -%>
<% script(module + '/js/map/filters/region-filter.js') -%>
<% script(module + '/js/map/filters/search-filter.js') -%>
<% script(module + '/js/map/filters/search-layer.js') -%>
<% script(module + '/js/map/filters/nav-filter.js') -%>
<% script(module + '/js/map/filters/form.js') -%>
<% script(module + '/js/map/filters/group.js') -%>
<% script(module + '/js/map/filters/field.js') -%>
<% script(module + '/js/map/filters/fields/select.js') -%>
<% script(module + '/js/map/custom-object-manager.js') -%>
<% script(module + '/js/map/init.js') -%>

<%
  var zoneParams = {
    module
  };
%>

<section id="middle" class="map-zone" data-params="<%=JSON.stringify(zoneParams)%>">
  <header id="page-header">
    <h1><%= title %></h1>
  </header>

  <div class="fa fa-refresh fa-spin ymap-loader"></div>
  <div id="ymap" class="ymap" data-params="<%=JSON.stringify(map)%>"></div>

  <div class="map-footer">
    <div class="map-legend" style="display: none">
      <div class="map-legend-toggle" title="Show/hide legend">
        <span class="glyphicon glyphicon-option-vertical"></span>
      </div>
      <div class="map-legend-content">
        <div class="map-legend-title"><%=__('Legend')%></div>
        <div class="map-legend-list"></div>
      </div>
    </div>
  </div>

  <div class="map-search-filter empty">
    <div class="map-search-filter-controls">
      <input type="text" class="map-search-filter-value" placeholder="To find...">
      <button type="button" title="Search" class="map-search-filter-execute map-button">
        <span class="map-button-icon" style="background-image: url('geomap/img/search.png');"></span>
      </button>
      <button type="button" title="Reset search" class="map-search-filter-reset map-button">
        <span class="map-button-icon" style="background-image: url('geomap/img/close.png');"></span>
      </button>
    </div>
    <div class="map-search-filter-result">
      <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
      <div class="map-search-filter-not-found">
        <i>Nothing found...</i>
      </div>
      <div class="map-search-filter-list"></div>
    </div>
  </div>

  <div class="map-loader">
    <div class="map-loader-content">
      <span class="fa fa-refresh fa-spin"></span>
      <span class="map-loader-title"><%=__('Data loading...')%></span>
    </div>
  </div>

  <div id="map-stroke" class="map-stroke">
    <canvas id="map-stroke-area"></canvas>
  </div>

  <div class="map-float-container nav-list"></div>

</section>

<div id="map-filter-form" class="map-filter-form modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%=__('Filter')%></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button class="apply btn btn-primary"><%=__('To apply')%></button>
      </div>
    </div>
  </div>
</div>