<% layout('../../../modules/registry/view/default/templates/layout') -%>


<%  
  let esiaProperties = [
    'firstname', 'lastname', 
    'birthdate', 'gender', 
    'snils', 'inn','email'
  ];
%>

<section id="middle">

  <header id="page-header">
    <h1><%=__('User profile ')%><%= user.name() %></h1>
    <ol class="breadcrumb">
      <li><a href="/<%=module%>"><i class="fa fa-dashboard"></i><%=__(' Main')%></a></li>
      <%- blocks.breadcrumbs %>
    </ol>
  </header>
  <div class="padding-15">
  <div class="login-box">
    <% if(errors.length) { %>
    <div id="error" class="alert alert-danger">
      <% errors.forEach(function(error){ %>
      <p><%= error %></p>
      <% }); %>
    </div>
    <% } %>
    <!-- login form -->
    <form action="/<%=module%>/profile" method="post" class="sky-form boxed">
      <fieldset>
        <section>
          <label class="label"><%=__('Name')%></label>
          <label class="input">
            <input type="text" name="firstName" class="input" readonly value="<%= user.properties()['firstName'] %>" />
          </label>
        </section>
        <section>
          <label class="label"><%=__('Surname')%></label>
          <label class="input">
            <input type="text" name="lastName" class="input" readonly value="<%= user.properties()['lastName'] %>" />
          </label>
        </section>
        <section>
          <label class="label"><%=__('Birth date')%></label>
          <label class="input">
            <input type="text" name="birthDate" class="input" readonly value="<%= user.properties()['birthDate'] %>" />
          </label>
        </section>
        <section>
          <label class="label"><%=__('Sex')%></label>
          <label class="input">
            <input type="text" name="gender" class="input" readonly value="<%= user.properties()['gender'] %>" />
          </label>
        </section>
        <section>
          <label class="label"><%=__('INILA')%></label>
          <label class="input">
            <input type="text" name="snils" class="input" readonly value="<%= user.properties()['snils'] %>" />
          </label>
        </section>
        <section>
          <label class="label"><%=__('Tax payer ID')%></label>
          <label class="input">
            <input type="text" name="inn" class="input" readonly value="<%= user.properties()['inn'] %>" />
          </label>
        </section>
        <section>
          <label class="label"><%=__('E-mail')%></label>
          <label class="input">
            <input type="text" name="email" class="input" readonly value="<%= user.properties()['email'] %>" />
          </label>
        </section>
      </fieldset>
        
      <fieldset>
        <%  let showSubmit = false;
          Object.keys(fields).forEach(function(fieldName){
            if (esiaProperties.indexOf(fieldName) < 0) {
              if (!fields[fieldName].readonly) {
                showSubmit = true;
              } %>
        <section>
          <label class="label">
            <%= fields[fieldName].caption ? fields[fieldName].caption : fieldName %>
            <%= fields[fieldName].required ? '*' : '' %>
          </label>
          <label class="input">
            <%
              let val = user.properties()[fieldName];
            if (Array.isArray(fields[fieldName])) {
            %>
            <select name="<%= fieldName %>">
              <% for (let option of fields[fieldName]){ %>
 <option value="<%= option.value %>" <%=option.value === val ? 'selected="true"' : ''%>><%= option.key %></option>              <% } %>
            </select>
            <% } else if (fields[fieldName]) { %>
            <input type="text" name="<%= fieldName %>" class="input"
                   <% if (fields[fieldName].required) { %>required<% } %> value="<%=val%>"/>
            <% } %>
          </label>
        </section>
        <% }}) %>
      </fieldset>

      <footer>
        <% if (showSubmit) { %><button id="authbutton" type="submit" class="btn btn-primary pull-right"><%=__('Save')%></button><% } %>
      </footer>
    </form>
  </div>
</div>
  <script>
    jQuery(function(){
      var options = <%- JSON.stringify(options || {})%>;
      var fields = <%- JSON.stringify(fields || {})%>;
      var $msgContainer = $('div#error');
      var $submit = $('button#authbutton');
      var $regForm = $('form#reg-form');
      $submit.click(function(){
        $msgContainer.empty();
        var valid = true;
        var messages = [];
        var field;
        for (fieldName in fields) {
          if (fields.hasOwnProperty(fieldName)) {
            if (fields[fieldName] && fields[fieldName].required) {
              field = $regForm.find('[name='+fieldName+']');
              if (!field.val()) {
                valid = false;
                messages.push('<%=__('Field ')%>' + (fields[fieldName].caption ? fields[fieldName].caption : fieldName )
                  + '<%=__(' required')%>');
              }
            }
          }
        }
        if (valid) {
          $regForm.submit();
          $msgContainer.empty();
        } else if (messages.length) {
          for (var i = 0; i < messages.length; i++) {
            $('<p/>').html(messages[i]).appendTo($msgContainer);
          }
        }
      });
    });
  </script>
</section>
