<%
  var params = {
  code: node.code,
  ns: node.ns,
  hasFilter: node.hasFilter,
  viewer: node.viewer,
  title: node.caption
}; %>
<%
  var icon = '';
  var hint = node.hint || node.caption;
  if (node.icon) {
    if (node.icon.image) {
      icon = '<img src="/'+ module +'/'+ node.icon.image +'" class="menu-item-icon" title="' + hint + '">';
    } else if (node.icon.url) {
        icon = '<img src="'+ node.icon.url +'" class="menu-item-icon" title="'+ hint +'">';
    } else if (node.icon.css) {
      icon = '<i class="menu-item-icon '+ node.icon.css +'" title="'+ hint +'"></i>';
    }
  } else if (node.nodes.length) {
    icon = '<i class="menu-item-icon fa fa-bank" title="'+ hint +'"></i>';
  }
%>
<li class="<%- node.nodes.length ? 'treeview' :'' %>">
  <a data-params="<%= JSON.stringify(params) %>" data-id="n_<%- node.id.replace('.', '_') %>"
    <% if (node.type === 'url') { %>
     href="<%= node.url %>"
     target="_blank"
     class="menu-link"
    <% } else if (node.url) { %>
     href="<%- module %>/<%- node.url %>"
     class="menu-link menu-link-data"
    <% } else { %>
     href="javascript:void(0)"
    <% } %>
     title="<%= node.hint || node.caption %>">
    <% if (node.nodes.length) { %>
    <i class="menu-item-toggle"><i class="glyphicon"></i></i>
    <% } %>
    <%- icon %>
    <span><%- node.caption %></span>
  </a>
  <% if (node.nodes.length) { %>
  <ul class="treeview-menu">
    <% for (let child of node.nodes){ %>
    <%- partial("./default-node", {node: child}) %>
    <% } %>
  </ul>
  <% } %>
</li>