<!DOCTYPE html>
<html>
<head>
  <title><%=__('ION Platform')%></title>
  <base id="baseUrl" href="<%= baseUrl %>">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"/>
  <link href="<%= module %>/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="<%= module %>/vendor/icheck/skins/flat/grey.css" rel="stylesheet" type="text/css"/>
  <link href="<%= module %>/css/base.css" rel="stylesheet" type="text/css"/>
  <link href="<%= module %>/vendor/select2/css/select2.min.css" rel="stylesheet"/>
  <%- stylesheets %>
  <link href="<%= module %>/css/common<%= staticsSuffix %>.css" rel="stylesheet"/>

  <script src="<%= module %>/vendor/jquery/jquery.min.js"></script>
  <script src="<%= module %>/vendor/js-cookie/src/js.cookie.js"></script>
  <script src="<%= module %>/vendor/store/store.min.js"></script>
  <script src="<%= module %>/vendor/regions/regions.js"></script>
  <script src="<%= module %>/js/preload.js"></script>
</head>

<body data-page="<%=pageCode %>">

<div id="wrapper" class="clearfix">
    <% include layout/sidebar %>
    <% include layout/header %>
    <%- body %>
</div>

<script>
  window.sidebarSplitter && sidebarSplitter.init();
</script>

<div id="global-overlay" class="global-overlay">
  <div class="global-overlay-body">
    <div class="loader"><span class="fa fa-refresh fa-spin"></span></div>
  </div>
</div>

<script src="<%=module%>/vendor/jquery-ui/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="<%=module%>/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="<%=module%>/vendor/moment/moment.min.js" type="text/javascript"></script>
<script src="<%=module%>/vendor/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="<%=module%>/vendor/icheck/icheck.min.js" type="text/javascript"></script>
<script>
  var plugin_path = '<%=module%>/js/plugins/';
</script>
<script src="<%=module%>/vendor/select2/js/select2.min.js"></script>
<script src="<%=module%>/vendor/select2/js/i18n/ru.js"></script>
<script src="<%=module%>/vendor/paper/paper-core.min.js"></script>
<script src="<%=module%>/js/common.js"></script>
<%- scripts %>
<%- typeof pageEndContent !== 'undefined' ? pageEndContent : "" %>
</body>
</html>
