
<% var id = widget.generateId() %>
<% var _cssBackground = typeof cssBackground === 'undefined' ? '' : cssBackground; %>
<% var _cssProgress = typeof cssProgress === 'undefined' ? '' : cssProgress; %>

<div id="<%- id%>" class="widget test-widget loading <%- _cssBackground %>">
  <div class="widget-overlay">
    <span class="glyphicon glyphicon-refresh spinning"></span>
  </div>
  <div class="widget-body">
    <h3><%- widget.id %></h3>
    <div class="pad20">
      <div class="progress">
        <div class="progress-bar progress-bar-striped active <%- _cssProgress %>" style="width: 0%">
          <span class="progress-num"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  (function ($widget) {
    function refresh () {
      $.get('<%- widget.getUrl() %>').done(function (data) {
        let percent = data.percent +'%';
        $widget.find('.progress-bar').css('width', percent);
        $widget.find('.progress-num').html(percent);
        $widget.removeClass('loading');
        setTimeout(refresh, Math.floor(Math.random() * (5000 - 2000)) + 2000);
      });
    }
    refresh();
  })($('#<%- id %>'));
</script>
