<!-- layout/top-menu -->

<div id="top-menu" class="top-menu">

  <% sysMenu.forEach(function (item) { %>
  <% let id = `n_sysMenu_${item.name.replace('.', '_')}`; %>
  <div class="top-menu-item <% if (item.name === module) {%>active<%}%>"><a id="<%= id %>" class="btn"
      href="<%= item.name %>"
      title="<%= item.description %>">
      <%= item.description %>
    </a></div>
  <% }); %>

  <div class="top-menu-item more-menu-item dropdown">
    <button class="btn" type="button" data-toggle="dropdown">
      <%=__('Eще')%> <i class="fa fa-angle-down"></i>
    </button>
    <div class="dropdown-menu more-menu"></div>
  </div>
</div>