
<link href="/dashboard/vendor/gridster-js/jquery.gridster.min.css" rel="stylesheet">
<link href="/dashboard/css/server.css" rel="stylesheet">
<link href="/dashboard/css/gridster.css" rel="stylesheet">

<script src="/dashboard/vendor/chartjs/dist/Chart.min.js"></script>
<script src="/dashboard/vendor/gridster-js/jquery.gridster.min.js"></script>
<script src="/dashboard/vendor/gridster-js/jquery.gridster.with-extras.min.js"></script>
<script src="/dashboard/js/gridster-helper.js"></script>

<div id="gridster" class="gridster" data-app="<%= app %>" data-layout="<%= layout %>">
  <ul>
    <li data-sizey="1" data-sizex="1" data-col="1" data-row="1">
      <% var cpu = dashboard.getWidget('CpuSnapshot'); %>
      <%- partial(cpu.view, {
        widget: cpu,
        cssBackground: 'bg-white'
      })%>
    </li>

    <li data-sizey="1" data-sizex="1" data-col="2" data-row="1">
      <% var ram = dashboard.getWidget('RamSnapshot'); %>
      <%- partial(ram.view, {
        widget: ram,
        cssBackground: 'bg-white'
      })%>
    </li>

    <li data-sizey="1" data-sizex="1" data-col="3" data-row="1">
      <% var hdd = dashboard.getWidget('HddSnapshot'); %>
      <%- partial(hdd.view, {
        widget: hdd,
        cssBackground: 'bg-white'
      })%>
    </li>
  </ul>
</div>

<script>
  (function () {
    var helper = new GridsterHelper($('#gridster'), {
      widget_base_dimensions: ['auto', 240],
      autogenerate_stylesheet: true,
      min_cols: 1,
      max_cols: 4,
      widget_margins: [10, 10],
      resize: {
        enabled: true
      }
    });
  })();
</script>
