<%
let task = dashboard.getWidget('develop-and-test-task');
let summary = dashboard.getWidget('develop-and-test-summary');
let toggleParams = {};
%>
<link href="registry/app-vendor/highcharts/css/highcharts.css" rel="stylesheet">
<script src="registry/app-static/js/highcharts.js"></script>

<link href="dashboard/vendor/gridster-js/jquery.gridster.min.css" rel="stylesheet">
<link href="dashboard/develop-and-test/layouts/gridster/gridster.css" rel="stylesheet">
<link href="dashboard/develop-and-test/widgets/task/styles.css" rel="stylesheet">

<script src="dashboard/vendor/gridster-js/jquery.gridster.min.js"></script>
<script src="dashboard/vendor/gridster-js/jquery.gridster.with-extras.min.js"></script>
<script src="dashboard/js/gridster-helper.js"></script>
<script src="dashboard/develop-and-test/widgets/scripts.js"></script>

<script>
  window.ajaxQueue = $.when();
</script>

<div id="gridster" class="gridster" data-app="<%= app %>" data-layout="<%= layout %>">
  <ul>
    <li data-sizey="1" data-sizex="1" data-col="1" data-row="1">
      <%- partial(task.view, {
        widget: task,
        params: {
          id: 'collRefCatalog',
          title: 'Catalog for collection and reference'
        },
        redirect: 'registry/develop-and-test@catalog',
        url: 'registry/api/collRefCatalog@develop-and-test',
        urlData: {
          node: 'develop-and-test@catalog',
          filter: []
        }
      })%>
    </li>

    <li data-sizey="1" data-sizex="1" data-col="3" data-row="2">
        <%- partial(task.view, {
          widget: task,
          params: {
            id: 'numberNatural',
            title: 'The number of objects with natural and negative numbers'
          },
          redirect: 'registry/develop-and-test@group.color.negativeNamber',
          url: 'registry/api/negativeNamber@develop-and-test',
          urlData: {
            node: 'develop-and-test@group.color.negativeNamber',
            filter: [{
              "property": null,
              "operation": 1,
              "value": null,
              "nestedConditions": [
                {
                  "property": "real",
                  "operation": 5,
                  "value": [0]
                },
                {
                  "property": "real",
                  "operation": 6,
                  "value": [0]
                }
              ]
            }]
          }
        })%>
    </li>
  </ul>

  <div class="dashboard-widget-tool hidden">
    <button type="button" class="btn btn-default widget-toggle mr10"
            data-params="<%= JSON.stringify(toggleParams) %>">
      Виджеты
      <span class="caret"></span>
    </button>
  </div>
</div>

<script>
  (function () {
    var $tools = $('.dashboard-layout-tool');
    var $layouts = $tools.find('.dashboard-select-layout');
    $layouts.change(function () {
      Cookies.set('dashboard-layout', $layouts.val(), {
        expires: 30,
        path: ''
      });
      location.reload();
    });
    $('.dashboard-tools').append($tools);
  })();
</script>

<script>
  $(function () {
    var $gridster = $('#gridster');
    var $widgetToggle = $gridster.children('.dashboard-widget-tool').children();
    $('.dashboard-tools').prepend($widgetToggle);
    var helper = new GridsterHelper($gridster, {
      widget_base_dimensions: ['auto', 195],
      autogenerate_stylesheet: true,
      min_cols: 1,
      max_cols: 3,
      widget_margins: [20, 20],
      resize: {
        enabled: true
      }
    }, $widgetToggle);
  });
</script>