<!DOCTYPE html>
<html>
<head>
  <title><%=__('Platform ION: OAuth2 Access request')%></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <base id="baseUrl" href="<%=baseUrl%>">
  <link rel="shortcut icon" href="favicon.ico">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/base.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="padding-15">
  <div class="login-box">
    <!-- login form -->
    <form action="oauth/grant" method="post" class="dlg-form boxed">
      <header><i class="fa fa-users"></i> <%=__('Application')%> <%=claimApp%> <%=__('requests access on your behalf')%></header>
      <footer>
        <button name="grant" type="submit" class="btn btn-primary pull-left" style="margin-left:0;">
          <%=__('Grant access')%>
        </button>
        <button name="deny" type="submit" class="btn btn-primary pull-left" style="margin-left:0;">
          <%=__('Reject')%>
        </button>
      </footer>
    </form>
  </div>
</div>
<%- typeof pageEndContent !== 'undefined' ? pageEndContent : "" %>
</body>
</html>